@{
    ViewData["Title"] = "Save";
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Cloudscribe.Web.Pagination

@model Clinicss.Models.VisitsVm

<partial name="_AlertMessage"/>

<div class="container-fluid d-flex align-items-center justify-content-center h-100">
    <div class="container mt-5 glass-container col-md-7">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1>Create ApiontMent</h1>

                <form id="saveDoctorForm" asp-action="CreatApiontment" method="post">
                    <div asp-validation-summary="ModelOnly"></div>

                    @Html.AntiForgeryToken()
                    <input asp-for="patientid" type="hidden" class="glass-input form-control" />
                    <input asp-for="doctorid" type="hidden" class="glass-input form-control" />

                  
                    <div class="row">
                             <div class="form-group col-md-6">
                                <label asp-for="doctorName">Username:</label>
                                <input asp-for="doctorName" class="glass-input  " readonly />
                                <span asp-validation-for="doctorName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                            <label asp-for="patientName">patientName:</label>
                                <input asp-for="patientName" class="glass-input  " />
                                <span asp-validation-for="patientName" class="text-danger"></span>
                            </div>
                        </div>

                    
 
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Address">Address:</label>
                            <input asp-for="Address" class="glass-input form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="PhoneNumber">PhoneNumber:</label>
                            <input asp-for="PhoneNumber" class="glass-input  " />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="NationalID">NationalID:</label>
                            <input asp-for="NationalID" class="glass-input  " />
                            <span asp-validation-for="NationalID" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Email">Email:</label>
                            <input asp-for="Email" class="glass-input  " />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                 

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Birthdate">Birthdate:</label>
                            <input asp-for="Birthdate" class="glass-input  " />
                            <span asp-validation-for="Birthdate" class="text-danger"></span>
                        </div>





                        <div class="form-group col-md-6">
                            <label asp-for="Age">Age:</label>
                            <input asp-for="Age" class="glass-input  " />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>


                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Visisttype">Visist type:</label>
                            <select asp-for="Visisttype" class="glass-select  " asp-items="@Model.ALLVisisttype">
                                <option value="">Select Visisttype</option>
                            </select>
                            <span asp-validation-for="VisitStutus" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="VisitStutus">Visit Stutus:</label>
                            <select asp-for="VisitStutus" class="glass-select  " asp-items="@Model.ALLVisitStutus">
                                <option value="" selected>Select Stutus</option>
                            </select>
                            <span asp-validation-for="Visisttype" class="text-danger"></span>
                        </div>
                    
                    </div>
                    <br />
                    <br />
                    <div class="row">


                        <div class="form-group col-md-6">
                            <label asp-for="Gender">Gender:</label>
                            <select asp-for="Gender" class="glass-select  " asp-items="@Model.gender">
                                <option value="" selected>Select Gender</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger" selected></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="VisitsApientment">VisitsApientment:</label>
                            <select asp-for="VisitsApientment" class="glass-select  " asp-items="@Model.ALLApintmentSlots" >
                                <option value=""  selected>Select VisitsApientment</option>
                            </select>
                            <span asp-validation-for="VisitsApientment" class="text-danger"></span>
                        </div>
 

                    </div>

                    <div class="button-group">
                        <button type="submit" class="btn btn-primary mt-4">
                            @if (Model != null || Model.Id ==default)
                            {
                                <text>Add Apiontment</text>

                            }
                            else
                            {
                                <text>Edit</text>

                            }
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 