@model PagedList.IPagedList<Clinicss.Models.VisitsVm>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "All visits";
}
<h1>
    All visits
</h1>
<!-- Panel for Searching -->
<form asp-action="Index" method="get" class="form-inline">
    <div class="form-group row justify-content-between">
        <input type="text" name="FilterBy" value="@ViewBag.Search" class="form-control w-75 col-10" id="search-input" placeholder="Specialty">
        <button type="submit" class="btn btn-primary col-2">
            Search
            <i class="fas fa-search"></i> <!-- Font Awesome icon for search -->
        </button>
    </div>
</form>
<br />


 
 
<div id="search-results">
    <table class="table table-hover" style="background-color: lightgreen;">
        <thead>
            <tr>
                <th>patientName</th>
                <th>doctorName</th>
                <th>VisitsDate</th>
                <th>Gender</th>
                <th>Adress</th>
                <th>Email</th>
                <th>VisitType</th>
                <th>VisitStuts</th>
                <th>Address</th>
                <th>Edit</th>
                <th>New Apiontment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visit in Model)
            {
                <tr class="patient">
                    <!-- Add class for JavaScript search functionality -->
                    <td>@visit.patientName</td>
                    <td>@visit.doctorName</td>
                    <td>@visit.VisitsApientment.ToShortTimeString()</td>
                     <td>@visit.Gender</td>
                    <td>@visit.Address</td>
                    <td>@visit.Email</td>
                    <td>@visit.Visisttype</td>
                    <td>@visit.VisitStutus</td>
                    <td>@visit.Address</td>
                    <td>
                             <a asp-action="CreatApiontment" asp-route-Doctorid="@visit.doctorid" asp-route-VistId="@visit.Id" class="btn btn-primary">
                            <i class="fas fa-edit"></i>  Edit Apiontment
                        </a>
                    </td>
                    <td>
                            <a asp-action="CreatApiontment"
                               asp-route-patientid="@visit.patientid" asp-route-Doctorid="@visit.doctorid" class="btn btn-primary">
                                <i class="fas fa-edit"></i>    New Apiontment
                            </a>
                        
                      

                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_PaginationPartial" model="Model" />

@section Scripts {
    <script>
        function validateSearch() {
            var searchInput = document.getElementById("search-input").value;
            if (searchInput.trim() === "") {
                alert("Please enter a search query.");
                return false; // Prevent form submission
            }
            return true; // Allow form submission
        }
    </script>
    <script src="~/js/visits.js"></script>
     
}
