@model PagedList.IPagedList<Clinicss.Models.DoctorVm>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "All Doctors";
}
<h1>All Doctors</h1>
<!-- Panel for Searching -->
<form asp-action="Index" method="get" class="form-inline">
    <div class="form-group row justify-content-between">
        <input type="text" name="FilterBy" value="@ViewBag.Search" class="form-control w-75 col-10" id="search-input" placeholder="Specialty">
        <button type="submit" class="btn btn-primary col-2">
            Search
            <i class="fas fa-search"></i> <!-- Font Awesome icon for search -->
        </button>
    </div>
</form>
<br />
 

<a asp-action="Save" class="btn btn-success">
    <i class="fas fa-plus"></i> <!-- Font Awesome icon for add -->
    Add New Doctor
</a>
<br />
<br />
<div id="search-results">
    <table class="table table-hover" style="background-color: lightgreen;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start Shift</th>
                <th>End Shift</th>
                <th>Gender</th>
                <th>Title</th>
                <th>Email</th>
                <th>Specialty</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                <tr class="patient">
                    <!-- Add class for JavaScript search functionality -->
                    <td>@doctor.Name</td>
                     <td>@doctor.StartShif.ToShortTimeString()</td>
                    <td>@doctor.Endshift.ToShortTimeString()</td>
                    <td>@doctor.Gender</td>
                    <td>@doctor.Title</td>
                    <td>@doctor.Email</td>
                    <td>@doctor.Specialty</td>
                    <td>
                        <a asp-action="Save" asp-route-id="@doctor.Id" class="btn btn-primary">
                            <i class="fas fa-edit"></i>  Edit
                        </a>

                        <a class="btn btn-primary" asp-area="Admin" asp-controller="DctorShift" asp-action="Save"
                           asp-route-Doctorid="@doctor.Id">
                            <i class="fas fa-edit"></i>                           Add Shift
                        </a>

                        <a asp-area="Admin" asp-controller="VIsits" asp-action="CreatApiontment" asp-route-Doctorid="@doctor.Id" class="btn btn-primary">
                            <i class="fas fa-edit"></i>                            Creat Appiontment
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_PaginationPartial" model="Model" />

@section Scripts {
    <script src="~/js/doctor.js"></script>
   
}
